*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
}

header{
    padding: 2em 0;
    background-color: black;
    border-radius: 0 0 70px 70px;
}

body{
    background-color: white;
}

/* Typography */

h1{
    font-weight: 700;
    font-size: 1.8rem;
    color: white;
    width: 25%;
    /* border: solid 2px blue; */
}

.nav-item{
    list-style: none;
}

.active-nav{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.nav-link{
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-style: normal;
}

.nav-link:hover,
.nav-link:active{
    color: rgb(79, 79, 79);
}

/* Header Layout */

nav{
    /* border: solid 2px blue; */
    width: 60%;
}

header{
    padding: 2em 0;
}

.nav-container .i{
    color: white;
    font-size: 2.5rem;
    text-align: end;
    width: 20%;
}

.container{
    width: 90%;
    max-width: 1000px;
    /* border: solid 2px blue; */
    margin: 0 auto;
    /* border: solid 2px blue; */
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 717px){
    .nav-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nav-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h1{
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
    }

    .nav-container i{
        text-align: center;
        width: 100%;
    }

}

/* Section */

/* Typography */

.myname{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.description{
    font-size: 1.1rem;
}

.skills i{
    font-size: 2rem;
    margin-right: 0.3em;
}

.description{
    font-size: 1.2rem;
}


.interest{
    margin-top: 2em;
    text-decoration: underline;
    margin-bottom: 1em;
    font-weight: 700;
}

.interest1{
    color: white;
    padding: 1em;
}

.h3-interest{
    color: white;
    padding: 1em;
    padding-bottom: 0em;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.text-center{
    color: white;
}

.btn-submit{
    background: linear-gradient(90deg, #ffffff, #ffffff);
    color: white;
}

.form-label{
    color: white;
}
/* Section Layout */

.introduction{
    width: 50%;
}

.skills{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill{
    display: flex;
}

.introduction-skills{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section{
    display: flex;
    margin-top: 4rem;
}

@media (max-width: 717px){
    .first-section{
        display: flex;
        flex-direction: column;
    }

    .introduction{
        width: 100%;
    }

    .introduction-skills{
        display: flex;
    }

    .skills{
        margin-top: 2em;
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }

}


.other-interest{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.life-interest{
    width: 30%;
    background-color: black;
}

.feedback-form{
    margin: 0 auto;
    width: 50%;
    background-color: black;
    padding: 2em;
    border-radius: 2em;
}

@media (max-width: 717px){
    .other-interest{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .life-interest{
        width: 100%;
    }

    .interest{
        font-weight: 700;
        text-align: center;
    }

    .feedback-form{
        width: 100%;
    }

}

/* Footer Typhography */

.footer-h1{
    width: 80%;
    color: white;
}

.logo i{
    color: white;
    font-size: 1.3rem;
}

.active-nav-footer{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer-link{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    font-style: normal;
}

.footers{
    text-decoration: none;
}

/* Footer Layout */


footer{
    margin-top: 5em;
    background-color: black;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    padding: 2em 0;

}

.logo{
    width: 30%;
}

.footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-footer{
    width: 70%;
}

.footer-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

@media (max-width: 717px){
    .footer-header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-h1{
        width: 100%;
    }

    .logo{
        text-align: center;
        width: 100%;
    }

}